<!-- DRONE VISUAL CONTROLLER    -->
<!-- KRZYSZTOF BORTNOWSKI       -->
<!-- Launchfile that inclueds all nodes and params needed for DVC project -->
<launch>

    <!-- MISSION_COMMANDER -->
    <rosparam command="load" file="$(find dvc)/config/MC/trees_sim.yaml" />
    <node pkg="dvc" type="mission_commander_trees" name="mission_commander_trees" output="screen" />
    <node pkg="dvc" type="image_saver_node.py" name="image_saver" output="screen" />
    <node pkg="dvc" type="test.py" name="sub_gps" output="screen" />

    <!-- NODE DRONE RIDDER -->
    <node pkg="dvc" type="drone_ridder" name="drone_ridder" output="screen" />

    <!-- GLOBAL LOCALIZATOR -->
    <rosparam command="load" file="$(find dvc)/config/OGL/object_localizator_sim.yaml"/>
    <node pkg="dvc" type="object_global_localizator" name="object_global_localizator" output="screen"/>

    <!-- TRAJECTORY PLANER -->
    <rosparam command="load" file="$(find dvc)/config/TP/trees.yaml" />
    <node pkg="dvc" type="trajectory_planer" name="trajectory_planer" output="screen" />

    <!-- SIMULATOR BY IQ -->
    <include file="$(find iq_sim)/launch/apm.launch"/>
    <include file="$(find iq_sim)/launch/runway.launch"/>

    <!-- YOLO BY DARKNET -->
    <include file="$(find darknet_ros)/launch/darknet_ros.launch" />

</launch>